.game {
  background: #5e3231;
  position: relative;
}

/* Temporal */
#arrow-1,
#arrow-2,
#bow-1,
#bow-2 {
  border: 1px solid red;
}

/* tenporal */
/* #pivot {
  position: absolute;
  background-color: blue;
  width: 10px;
  height: 10px;
  z-index: 10;
  transform: translateX(-10px);
} */

#control {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 210px;
  /* background-color: #00000045; */
  cursor: pointer;
}
