.pe {
  position: relative;
}

.pe-sco {
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 33px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 80px;
  z-index: 10;
}
