.lobby {
  background: #deeefa;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
}

h1 {
  background: #5e3231;
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 1px #000;
  padding: 70px;
}

.lobby-btn {
  background: white;
  width: 80%;
  height: 400px;
  transform: translateY(-40px);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  padding: 30px;
  flex-direction: column;
}

.lobby-btn p {
  font-size: 18px;
  font-weight: bold;
}

.lobby-btn div {
  margin-top: 40px;
  flex-direction: column;
}

.lobby-btn button {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 180px;
  height: 60px;
  border-width: 1px;
  color: #ffffff;
  border-color: #124d77;
  border-radius: 10px;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  text-shadow: inset 0px 1px 0px #154682;
  background: linear-gradient(#007dc1, #0061a7);
  margin-bottom: 20px;
}

.lobby-btn button:hover {
  background: linear-gradient(#0061a7, #007dc1);
}

.lobby-pe {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: -8px;
  display: flex;
  justify-content: space-between;
}

.lobby-pe .pe {
  width: 35%;
}

.lobby-ab,
.lobby-so {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
}

.lobby-ab {
  left: 10px;
  color: #5e3231;
}

.lobby-ab:visited {
  color: #5e3231;
}

.lobby-co {
  bottom: 40px;
  color: black;
  font-weight: bold;
  position: absolute;
  z-index: 20px;
}

.lobby-co:visited {
  color: black;
}
